#selectStaffsDiv, .forStudentWrapper {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(90deg, rgba(12,12,162,1) 0%, rgba(90,171,187,1) 100%);
}

input:focus + .slider {
    background: linear-gradient(90deg, rgba(12,12,162,1) 0%, rgba(90,171,187,1) 100%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.buttons_div_one {
    /* border: 4px solid #FFFFFF; */
    border-radius: 12px;

    margin-bottom: 4px;
    padding: 0 5px 0 0;
}

.buttons_div {
    border: 4px solid #19A0FB;
    border-radius: 12px
}
