.bootstrap-datetimepicker-widget table td .btn.btn-primary{
    background: transparent!important;
}

.bootstrap-datetimepicker-widget table td .btn.btn-primary:hover{
    background: linear-gradient(90deg, rgba(12,12,162,1) 0%, rgba(90,171,187,1) 100%)!important;
    color: #fff!important;
    transition: all 0.4s ease 0s;
    background-size: 200% auto;
}
