.who_we_area{
    padding: 150px 0; 
    @media #{$tab} {
        padding: 75px 0; 
    }
    .who_we_info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @media #{$tab}{
            grid-template-columns: repeat(1,1fr);
        }
        .info_left{
            border: 1px solid #E9E7F7;
            padding: 57px 80px 67px 50px ;
            border-radius: 5px 0 0 5px;
            @media #{$tab} {
                padding: 35px 30px ;
                border-radius: 5px;
            }
            span{
                font-family: $font2;
                font-size: 14px;
                font-weight: 600;
                color: #373737;
                display: inline-block;
                margin-bottom: 21px;
            }
            p{
                font-family: $font1;
                font-size: 24px;
                line-height: 35px;
                font-weight: 700;
                color: $theme_color;
                @media #{$small_mobile} {
                    font-size: 20px;
                    line-height: 31px;
                }
            }
        }
        .info_right{
            background: #351e98;
            display: flex;
            align-items: center;
            padding:70px 65px 70px 70px ;
            @media #{$tab} {
                padding: 35px 30px ;
                border-radius: 5px;
            }
            p{
                font-family: $font2;
                font-size: 35px;
                font-weight: 700;
                line-height: 45px;
                color: $white;
                @media #{$small_mobile} {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
        }
    }
}

.about_gallery_area{
    padding-bottom: 120px;
    @media #{$tab} {
        padding-bottom: 30px;
    }
    .about_gallery{
        display: grid;
        grid-template-columns: 330px 360px;
        grid-gap: 30px;
        align-items: center;
        @media #{$tab} {
            grid-template-columns: auto;
        }
        @media #{$medium_device} {
            grid-template-columns: repeat(2,1fr);
            margin-bottom: 40px;
        }
        @media #{'(min-width: 992px) and (max-width: 1499.98px)'} {
            grid-template-columns: repeat(2,1fr);
            padding-right: 40px;
        }
        .gallery_box{
            .thumb{
                @media #{$tab}{
                    margin-bottom: 30px;
                }
                &.small_thumb{
                    margin: 30px 0 0 50px;
                    @media #{$tab} {
                        margin: 0px 0 0 0px;
                    }
                }
            }
            

        }
    }
    .section__title{
        h3{
            margin-bottom: 40px;
        }
        p{
            font-size: 16px;
            line-height: 26px;
            font-family: $font2;
            color: $theme_color;
            font-weight: 400;
        }
    }
}