/******** header css here *********/
.header_iner{
    padding: 0px 100px 0px 150px ;
    background-color: $white;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 100px;
    border-bottom: 1px solid #E8ECF3;
    @media #{$tab2}{
        width: 100%;
        padding: 20px;
        height: 80px;
    }
    @media #{$lg_device} {
        // justify-content: flex-end !important;
        padding: 0 50px;
    }
    @media #{'(min-width: 1200px) and (max-width: 1599.98px)'} {
        // justify-content: flex-end !important;
        padding: 0 50px;
    }
    @media #{$lg_device} {
        // justify-content: flex-end !important;
        padding: 0 50px;
    }
    .notification{
        @media #{$tab}{
            margin: 0 10px;
        }
        i{
            color: $color_1;;
            position: relative;
            font-size: 20px;
            &:after{
                position: absolute;
                content: "";
                right: -1px;
                top: 0;
                height: 9px;
                width: 9px;
                background-color: $white;;
                border-radius: 50%;
            }
        }
    }
    .notification_wrapper{
        ul{
            display: flex;
            z-index: 100;
            align-items: center;
            li{
                position: relative;
                &:not(:last-child){
                    margin-right: 40px;
                    @media #{$tab2}{
                        margin-right: 20px;
                    }
                }
                &:last-child{
                    margin-right: 30px;
                    @media #{$tab2}{
                        margin-right: 20px;
                    }
                }
                a{
                    position: relative;
                    z-index: 2;
                    display: inline-block;
                    .notify_icon{
                        img{
                            max-width: 30px;
                        }
                    }
                    .notify_count{
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background: #351e98;
                        font-size: 10px;
                        font-weight: 600;
                        font-family: $font1;
                        display: inline-block;
                        text-align: center;
                        color: #fff;
                        position: absolute;
                        top: -2px;
                        right: 3px;
                    }
                }
                .notification_area{
                    position: absolute;
                    right: -30px;
                    width: 330px;
                    background: #FFFFFF;
                    z-index: 10;
                    border-radius: 10px;
                    box-shadow: 2px 2px 40px rgba(177, 177, 177,.15);
                    top: 64px;
                    border: 1px solid #ECEEF4;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s;
                    @media #{$small_mobile}{
                        right: -200px;
                        width: 300px;
                    }
                    &.active{
                        opacity: 1;
                        visibility: visible;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        border: 1px solid #ECEEF4;
                        background: #fff;
                        top: -12.5px;
                        right: 34px;
                        transform: rotate(45deg);
                        border-bottom: 0;
                        border-right: 0;
                    }
                    .notification_body{
                        padding: 40px;
                        height: 345px;
                        overflow: auto;
                        @media #{$small_mobile} {
                            padding: 20px;
                        }
                        .single_nofy{
                            display: flex;
                            align-items: center;
                            &:not(:last-child){
                                margin-bottom: 25px;
                            }
                            .icon{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                flex: 50px 0 0;
                                margin-right: 20px;
                                img{
                                    width: 100%;
                                }
                            }
                            .notyfy_content{
                                h4{
                                    font-size: 16px;
                                    font-weight: 700;
                                    font-family: $font1;
                                    color: #202E3B;
                                    margin-bottom: 0;
                                }
                                p{
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: #687083;
                                }
                            }
                        }
                    }
                    .notification_footer{
                        a{
                            font-size: 16px;
                            font-weight: 600;
                            color: #202E3B;
                            font-family: $font1;
                            display: block;
                            border-top: 1px solid #E9E7F7;
                            text-align: center;
                            padding: 18px 0 19px 0;
                        }
                    }
                }
            }
        }
    }
    .category_search{
        @media #{$tab2} {
            display: none !important;
        }
        // @media #{$lg_device}{
        //     display: none !important;
        // }
        .theme_search_field {
            @media #{'(min-width: 1700px)'} {
                width: 539px;
            }
            @media #{$lg_device}{
                display: none;
            }
            @media #{'only screen and (min-width: 1200px) and (max-width: 1299.98px)'}{
                display: none !important;
            }
            @media #{'only screen and (min-width: 1300px) and (max-width: 1399.98px)'}{
                width: 310px;
            }
            @media #{'only screen and (min-width: 1400px) and (max-width: 1499.98px)'}{
                width: 300px;
            }
        }
        .categories_menu{
            font-size: 16px;
            color: #687083;
            display: flex;
            align-items: center;
            font-weight: 600;
            margin-right: 30px;
            @media #{$tab2} {
                display: none !important;
            }
            i{
                font-weight: 900;
                margin-right: 10px;
            }
        }
    }
}
.profile_info{
    position: relative;
    cursor: pointer;
    max-width: 200px;
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 15px;
        @media #{$tab2} {
            width: 45px;
            height: 45px;
        }
    }
    span{
        font-size: 16px;
        font-weight: 600;
        color: #687083;
        font-family: $font1;
        @media #{$small_mobile} {
            display: none;
        }
    }
    .profile_info_iner{
        position: absolute;
        right: 0;
        background-color: $white;
        text-align: right;
        width: 186px;
        padding: 30px 20px 20px;
        top: 65px;
        transition:.5s;
        a{
            display: block;
        }
    }
}
.sidebar_icon{
    i{
        font-size: 24px;
    }
}
.profile_info{
    .profile_info_iner{
        padding: 19px 20px;
        width: 186px;
        background-color: $white;
        color: $color_2;
        text-align: left;
        border-radius: 5px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transform: translateY(13px);
        transform-origin: right top;
        transition:.5s;
        right: 0;
        border: 1px solid #ECEEF4;
        @media #{$tab}{
            transform: translateY(0);
        }
        &::after{
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border: 1px solid #ECEEF4;
            background: #fff;
            top: -8px;
            left: 30px;
            transform: rotate(45deg);
            border-bottom: 0;
            border-right: 0;
        }
        a{
            display: block;
            padding: 13px 0;
            color: $color_2;
            &:hover{
                color: $color_2;
            }
        }
    }
    &.active{
        .profile_info_iner{
            opacity: 1;
            visibility: visible;
            transform: translateY(3px);
            @media #{$tab}{
                transform: translateY(-13px);
            }
            @media #{$small_mobile}{
                transform: translateY(-15px) !important;
            }
        }
    }
    @media #{$small_mobile}{
        left: -10px;
    }
}
.collaps_part{
    .collaps_part_content{
        opacity: 0;
        visibility: hidden;
        transform: translateY(3px);

    }

    &.active{
        .collaps_part_content{
            opacity: 1;
            visibility: visible;
            transform: translateY(13px);
            @media #{$tab}{
                transform: translateY(-13px);
            }
            @media #{$large_mobile}{
                transform: translateY(23px);
            }
        }
    }
}
.notification_area{
    position: relative;
    @media #{$tab}{
        margin-right: 15px;
    }
    .notification_icon{
        i{
            cursor: pointer;
            color: $color_2;
            font-size: 20px;
            position: relative;
            z-index: 1;
            &:after{
                position: absolute;
                right: 0;
                top: 0;
                width: 9px;
                height: 9px;
                border-radius: 50px;
                background-color: $white;;
                content: "";
            }
        }
    }
    .notification_content{
        padding: 20px 0;
        width: 500px;
        background-color: $white;
        color: $color_2;
        text-align: left;
        border-radius: 5px;
        position: absolute;
        transform: translateY(25px);
        transform-origin: right top;
        transition:.5s;
        right: -19px;
        max-height: 400px;
        // overflow: auto;
        z-index: 100;
        .collaps_part_content_inner{
            max-height: 300px;
            overflow: auto;
        }
        @media #{$large_mobile}{
            width: 290px;
            right: -52px;
        }
        :after{
            content: "";
            position: absolute;
            height: 9px;
            width: 14px;
            top: -7px;
            right : 20px;
            background-color: #212e40;
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }
        h4{
            font-size: 14px;
            font-weight: 600;
            color: $white;
            padding: 10px 25px;
            padding: 4px 25px 0;
            span{
                color: #2EC9B8;
                padding-left: 5px;
            }
        }
        .single_notification_content{
            display: flex;
            align-items: center;
            padding: 10px 25px;
            transition:.5s;
            border-bottom: 1px solid rgba($color: $white, $alpha: .06);

            &:hover{
                background-color: #ddd;
            }
            img{
                max-width: 35px;
                border-radius: 50%;
            }
            .notification_content_iner{
                padding-left: 15px;
                h5{
                    font-size: 13px;
                    font-weight: 500;
                    color: $white;
                    margin-bottom: 0;
                    a{
                      color: $white;
                        span{
                        color: $color_2;
                        }
                    }
                }
                p{
                    font-size: 12px;
                    color: $color_2;
                }
            }
        }
        .lms_mark_see_btn{
            text-align: center;
            padding: 20px;
            a{
                margin: 0 5px;
            }
        }
    }
}
/******** header css end *********/
